<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sjjkSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gyreport.hshfy.sh.cn/sjjk/axisapi/sjjk"
                binding="basicHttpBinding" bindingConfiguration="sjjkSoapBinding"
                contract="ServiceReference1.OpenAxisWebService" name="sjjk" />
        </client>
    </system.serviceModel>
</configuration>